<%= fields_for 'movement[movementsdetails_attributes][]', movementsdetails do |d| %>
    <tr data-index="<%= movementsdetails.Id %>">
      <td>
        <%= d.hidden_field :Id, class: "Id" %>
        <%= d.text_field :movementType_Description, readonly: "readonly" %>
        <%= d.hidden_field :movementtype_id, class: "movementtype_id" %>
      </td>
      <td>
        <%= d.text_field :entityType_Description, readonly: "readonly" %>
        <%= d.hidden_field :entitytype_id, class: "entitytype_id" %>
      </td>
      <td>
        <%= d.text_field :entityReference, readonly: "readonly", class: "entityReference" %>
        <%= d.hidden_field :entityReference_id, class: "entityReference_id" %>
      </td>
      <td>
        <%= d.text_field :asset_Description, readonly: "readonly" %>
        <%= d.hidden_field :asset_id, class: "asset_id" %>
      </td>
      <td>
        <%= d.text_field :assetQuantity, readonly: "readonly", class: "assetQuantity" %>
      </td>
      <td>
        <%= d.text_area :Comment, readonly: "readonly", class: "Comment" %>
      </td>
      <td>
        <button class="btn btn-success" onclick="return editDetail(this);">Editar
          <span class="glyphicon glyphicon-pencil"></span></button>
      </td>
      <td>
        <button class="btn btn-danger" onclick="return deleteDetail(this);">Eliminar
          <span class="glyphicon glyphicon-remove-sign"></span></button>
      </td>
    </tr>
<% end %>

