<%= form_for(@movement) do |f| %>
    <% countDetail = 0 %>
    <% if @movement.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

          <ul>
            <% @movement.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p id="notice"><%= notice %></p>

    <div class="field">
      Fecha de Movimiento<br>
      <%= f.date_field :MovementDate %>
    </div>
    <div class="field">
      Comentarios<br>
      <%= f.text_area :Comments %>
    </div>

    <div id="divMovements">
      <h1>Detalle Movimientos</h1>


      <button id="btnAddMovement"
              class="btn btn-primary" onclick="$('#divPopupDetail').dialog('open'); return false;">
        Añadir Movimiento <span class="glyphicon glyphicon-plus-sign"></span></button>

      <table id="tblMovements" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Tipo de Movimiento</th>
          <th>Tipo de Entidad</th>
          <th>Entidad</th>
          <th>Tipo de Activo</th>
          <th>Cantidad</th>
          <th>Comentario</th>

          <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <% @movement.movementsdetails.each do |m| %>
            <%= render partial: "detailrow", locals: {movementsdetails: m} %>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= render "layouts/formactions", path_to_list: movements_path %>
<% end %>
<%= render partial: "movementdetailpopup" %>
