<%= javascript_include_tag 'movements' %>
<%= form_for(@movement) do |f| %>
    <% countDetail = 0 %>
    <% if @movement.errors.any? %>
        <%= render partial: "layouts/erroralert", locals: {errordata: @movement.errors.full_messages} %>
    <% end %>
    <div class="col-md-6">
      <div class="form-group">
        <label>Fecha de Movimiento</label>
        <%= f.date_field :MovementDate, required: "required", class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Comentarios</label>
        <%= f.text_area :Comments, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Detalle Movimientos
            </h3>
          </div>
          <div id="divMovements" class="panel-body">
            <%= render partial: "movementdetail", locals: {movement: @movement} %>
          </div>
        </div>
      </div>
    </div>
    <%= render "layouts/formactions", path_to_list: movements_path %>
<% end %>
<%= render partial: "movementdetailpopup" %>
