<%= form_for(@movementDetail, remote: true) do |f| %>
    <%= f.hidden_field :Id, class: "Id" %>
    <div id="divMovementType" data-valuetype class="field">
      Tipo de Movimiento<br>
      <%= f.select :movementType_id, options_for_select(@movementTypes), {include_blank: true}, required: "required" %>
      <%= f.hidden_field :movementType_Description %>
    </div>
    <div id="divEntityType" data-valuetype class="field">
      Tipo de Entidad<br>
      <%= f.select :entityType_id, options_for_select(@entityTypes), {include_blank: true}, required: "required" %>
      <%= f.hidden_field :entityType_Description %>
    </div>
    <div class="field">
      Entidad<br>
      <%= f.text_field :entityReference, required: "required" %>
    </div>
    <div id="divAsset" data-valuetype class="field">
      Tipo de Activo<br>
      <%= f.select :asset_id, options_for_select(@assets), {include_blank: true}, required: "required" %>
      <%= f.hidden_field :asset_Description %>
    </div>
    <div class="field">
      Cantidad<br>
      <%= f.number_field :assetQuantity, required: "required" %>
    </div>

    <div class="field">
      Comentario<br>
      <%= f.text_area :Comment %>
    </div>

    <button id="btnSaveMovement"
            class="btn btn-success">
      Guardar Movimiento <span class="glyphicon glyphicon-floppy-disk"></span></button>
<% end %>
