<h1>Listing movements</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Movementdate</th>
      <th>Movementtype</th>
      <th>Entitytype</th>
      <th>Entityreference</th>
      <th>Asset</th>
      <th>Assetquantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.Id %></td>
        <td><%= movement.MovementDate %></td>
        <td><%= movement.movementtype_id %></td>
        <td><%= movement.entitytype_id %></td>
        <td><%= movement.EntityReference %></td>
        <td><%= movement.asset_id %></td>
        <td><%= movement.AssetQuantity %></td>
        <td><%= link_to 'Show', movement %></td>
        <td><%= link_to 'Edit', edit_movement_path(movement) %></td>
        <td><%= link_to 'Destroy', movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movement', new_movement_path %>
