<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @movement.Id %>
</p>

<p>
  <strong>Fecha de Movimiento:</strong>
  <%= @movement.MovementDate %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @movement.Comments %>
</p>

<table id="tblMovements" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Tipo de Movimiento</th>
    <th>Tipo de Entidad</th>
    <th>Entidad</th>
    <th>Tipo de Activo</th>
    <th>Cantidad</th>
    <th>Comentario</th>
  </tr>
  </thead>
  <tbody>
  <% @movement.movementsdetails.each do |m| %>
      <tr>
        <td>
          <%= m.movementType_Description %>
        </td>
        <td>
          <%= m.entityType_Description %>
        </td>
        <td>
          <%= m.entityReference %>
        </td>
        <td>
          <%= m.asset_Description %>
        </td>
        <td>
          <%= m.assetQuantity %>
        </td>
        <td>
          <%= m.Comment %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to edit_movement_path(@movement) do %>
    <button class="btn btn-success">Editar <span class="glyphicon glyphicon-pencil"></span></button>
<% end %> |
<%= link_to movements_path do %>
    <button class="btn btn-default">Lista <span class="glyphicon glyphicon-list"></span></button>
<% end %>
