<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @movement.Id %>
</p>

<p>
  <strong>Fecha de Movimiento:</strong>
  <%= @movement.MovementDate %>
</p>

<p>
  <strong>Tipo de Movimiento:</strong>
  <%= @movement.movementtype.Description%>
</p>

<p>
  <strong>Tipo de Entidad:</strong>
  <%= @movement.entitytype.Description %>
</p>

<p>
  <strong>Entidad:</strong>
  <%= @movement.EntityReference %>
</p>

<p>
  <strong>Tipo de Activo:</strong>
  <%= @movement.asset.Description %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @movement.AssetQuantity %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @movement.Comments %>
</p>
<%= link_to edit_movement_path(@movement) do %>
    <button class="btn btn-success">Editar <span class="glyphicon glyphicon-pencil"></span></button>
<% end %> |
<%= link_to movements_path do %>
    <button class="btn btn-default">Lista <span class="glyphicon glyphicon-list"></span></button>
<% end %>
