<% provide(:title, "Log in") %>
<%= render partial: "layouts/erroralert", locals: {errordata: flash[:danger]} %>
<h1>Ingresar</h1>
<div class="row">
  <div id="divfrmLogin" class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :username, "Usuario" %>
        <%= f.text_field :username, class: 'form-control', required: "required" %>

        <%= f.label :password, "Contraseña" %>
        <%= f.password_field :password, class: 'form-control', required: "required" %>
        <br>
        <%= f.submit "Entrar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>