<%= form_for(@position) do |f| %>
    <% if @position.errors.any? %>
        <%= render partial: "layouts/erroralert", locals: {errordata: @position.errors.full_messages} %>
    <% end %>
    <p id="notice"><%= notice %></p>

    <div class="field">
      <%= f.label :Description %><br>
      <%= f.text_field :Description, required: "required" %>
    </div>
    <div class="field">
      <%= f.label :Active %><br>
      <%= f.check_box :Active %>
    </div>
    <%= render "layouts/formactions", path_to_list: positions_path %>
<% end %>
