<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @position.Id %>
</p>

<p>
  <strong>Descriptión:</strong>
  <%= @position.Description %>
</p>

<p>
  <strong>Active:</strong>
  <%= check_box_tag "chkActive", nil, @position.Active, disabled: true %>
</p>
<%= link_to edit_position_path(@position) do %>
    <button class="btn btn-success">Editar <span class="glyphicon glyphicon-pencil"></span></button>
<% end %> |
<%= link_to positions_path do %>
    <button class="btn btn-default">Lista <span class="glyphicon glyphicon-list"></span></button>
<% end %>
