<%= javascript_include_tag 'users' %>
<div class="col-md-6">
  <%= form_for(@user) do |f| %>
      <% countDetail = 0 %>
      <% if @user.errors.any? %>
          <%= render partial: "layouts/erroralert", locals: {errordata: @user.errors.full_messages} %>
      <% end %>

      <div class="form-group">
        <label>Usuario</label>
        <%= f.text_field :UserName, required: "required", class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Contrase&#241;a</label>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Confirmar Contrase&#241;a</label>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Nombre Completo</label>
        <%= f.text_field :FullName, required: "required", class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Correo Electr&#243;nico</label>
        <%= f.email_field :Email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Entidad Correspondiente</label>
        <%= f.select :entitymaster_id, @entitiesmasters, {include_blank: true}, required: "required", class: 'form-control' %>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :Active %>Activo</label>
        </div>
      </div>
      <%= render "layouts/formactions", path_to_list: users_path %>
  <% end %>
</div>
