<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Editar contraseña
    </h3>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
      <%= form_for(@user, url: changepassword_path) do |f| %>
          <% countDetail = 0 %>
          <% if @user.errors.any? %>
              <%= render partial: "layouts/erroralert", locals: {errordata: @user.errors.full_messages} %>
          <% else
               if !notice.nil? %>
                  <%= render partial: "layouts/erroralert", locals: {errordata: notice} %>
              <% end %>
          <% end %>

          <%= f.hidden_field :id %>

          <div class="form-group">
            <label>Contrase&#241;a</label>
            <%= f.password_field :password, required: "required", class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Confirmar Contrase&#241;a</label>
            <%= f.password_field :password_confirmation, required: "required", class: 'form-control' %>
          </div>
          <div class="actions">
            <button class="btn btn-success">Guardar
              <span class="glyphicon glyphicon-floppy-disk"></span></button>
          </div>
      <% end %>
    </div>

  </div>
</div>