<div class="col-md-6">
  <%= form_for (@ministry) do |f| %>
      <% if @ministry.errors.any? %>
          <%= render partial: "layouts/erroralert", locals: {errordata: @ministry.errors.full_messages} %>
      <% end %>

      <div class="form-group">
        <label>Descripci&#243;n</label>
        <%= f.email_field :Description, required: "required", class: 'form-control' %>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :Active %>Activo</label>
        </div>
      </div>
      <%= render "layouts/formactions", path_to_list: ministries_path %>
  <% end %>
</div>
