<div class="panel panel-default">
  <div class="panel-heading"><h3>Lista de Ministerios</h3></div>
  <div class="panel-body">
    <p id="notice"><%= notice %></p>
    <%= link_to new_ministry_path do %>
        <button class="btn btn-primary">Nuevo <span class="glyphicon glyphicon-plus-sign"></span></button>
    <% end %>
    <br>
    <br>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Id</th>
          <th>Descripción</th>
          <th>Activo
          </td>
          <th colspan="3">Acción</th>
        </tr>
        </thead>
        <tbody>
        <% @ministries.each do |ministry| %>
            <tr>
              <td><%= ministry.id %></td>
              <td><%= ministry.Description %></td>
              <td><%= check_box_tag "chkActive", nil, ministry.Active, disabled: true %></td>

              <td><%= link_to ministry do %>
                    <button class="btn btn-info">Ver <span class="glyphicon glyphicon-eye-open"></span></button>
                <% end %></td>
              <td><%= link_to edit_ministry_path(ministry) do %>
                    <button class="btn btn-success">Editar <span class="glyphicon glyphicon-pencil"></span></button>
                <% end %>
              </td>
              <td>
                <%= link_to ministry, method: :delete, data: {confirm: 'Esta Seguro?'} do %>
                    <button class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                <% end %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>