<%= javascript_include_tag 'members' %>
<%= form_for(@member) do |f| %>
    <% countDetail = 0 %>
    <% if @member.errors.any? %>
        <%= render partial: "layouts/erroralert", locals: {errordata: @member.errors.full_messages} %>
    <% end %>
    <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="col-md-4">
        <label>Nombre</label>
        <%= f.text_field :FirstName, class: 'form-control' %>
      </div>
      <div class="col-md-4">
        <label>Apellido</label>
        <%= f.text_field :LastName, class: 'form-control' %>
      </div>
      <div class="col-md-4">
        <label>Fecha de Nacimiento</label>
        <%= f.date_field :BirthDate, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Fecha de Conversi칩n</label>
        <%= f.date_field :ConvertionDate, class: 'form-control' %>
      </div>
      <div class="col-md-4">
        <label>Direcci칩n</label>
        <%= f.text_area :Address, class: 'form-control' %>
      </div>
      <div class="col-md-4">
        <label>Telefono de Casa</label>
        <%= f.telephone_field :HomePhone, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Celular</label>
        <%= f.telephone_field :CellPhone, class: 'form-control' %>
      </div>
      <div class="col-md-4">
        <label>Fecha de Bautizo</label>
        <%= f.date_field :BaptismDate, class: 'form-control' %>
      </div>
      <div class="col-md-4">
        <div class="checkbox">
          <label>
            <%= f.check_box :Active %>Activo</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label>
          Foto</label>
        <img id="imgPhoto" src="<%= @member.PhotoPath %>" class="img-rounded"/>
        <input type="file" id="fldPhoto" onchange="return changePhoto();"/>
        <%= f.hidden_field :Photo %>
        <%= f.hidden_field :PhotoPath %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Detalle Ministerios
            </h3>
          </div>
          <div id="divMinisters" class="panel-body">

            <%= hidden_field_tag "hdnMinistries", @ministries.to_json %>
            <%= hidden_field_tag "hdnPositions", @positions.to_json %>

            <button id="btnAddMinisty"
                    class="btn btn-primary" onclick="addDetail(); return false;">
              A침adir Ministerio <span class="glyphicon glyphicon-plus-sign"></span></button>
            <br>
            <br>
            <table id="tblMinistries" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Ministerio</th>
                <th>Cargo</th>
                <th>Acci칩n</th>
              </tr>
              </thead>
              <tbody>
              <%= f.fields_for :memberministrypositions do |detail| %>
                  <tr data-index="<%= countDetail %>">
                    <td><%= detail.select :ministry_id, @ministries %></td>
                    <td><%= detail.select :position_id, @positions %></td>
                    <td>
                      <button class="btn btn-danger" onclick="deleteDetail(this); return false;">Eliminar
                        <span class="glyphicon glyphicon-remove-sign"></span></button>
                    </td>
                    <% countDetail = countDetail + 1 %>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%= render "layouts/formactions", path_to_list: members_path %>
<% end %>
