<%= javascript_include_tag 'members' %>
<%= form_for(@member) do |f| %>
    <% countDetail = 0 %>
    <% if @member.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

          <ul>
            <% @member.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p id="notice"><%= notice %></p>
    <table class="paddingright20">
      <tr>
        <td>
          <div class="field">
            Nombre<br>
            <%= f.text_field :FirstName %>
          </div>
        </td>
        <td>
          <div class="field">
            Apellido<br>
            <%= f.text_field :LastName %>
          </div>
        </td>
        <td>
          <div class="field">
            Fecha de Nacimiento<br>
            <%= f.date_field :BirthDate %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            Fecha de Conversi칩n<br>
            <%= f.date_field :ConvertionDate %>
          </div>
        </td>
        <td>
          <div class="field">
            Direcci칩n<br>
            <%= f.text_area :Address %>
          </div>
        </td>
        <td>
          <div class="field">
            Telefono de Casa<br>
            <%= f.telephone_field :HomePhone %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            Celular<br>
            <%= f.telephone_field :CellPhone %>
          </div>
        </td>
        <td>
          <div class="field">
            Fecha de Bautizo<br>
            <%= f.date_field :BaptismDate %>
          </div>
        </td>
        <td>
          <div class="field">
            Activo<br>
            <%= f.check_box :Active %>
          </div>
        </td>
      </tr>
    </table>
    <div class="field">
      Foto<br>
      <img id="imgPhoto" src="<%= @member.PhotoPath %>"/>
      <input type="file" id="fldPhoto" onchange="return changePhoto();"/>
      <%= f.hidden_field :Photo %>
      <%= f.hidden_field :PhotoPath %>

    </div>

    <div id="divMinisters">
      <%= hidden_field_tag "hdnMinistries", @ministries.to_json %>
      <%= hidden_field_tag "hdnPositions", @positions.to_json %>
      <h1>Ministerios</h1>

      <button id="btnAddMinisty"
              class="btn btn-primary" onclick="addDetail(); return false;">
        A침adir Ministerio <span class="glyphicon glyphicon-plus-sign"></span></button>

      <table id="tblMinistries" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Ministerio</th>
          <th>Cargo</th>

          <th>Acci칩n</th>
        </tr>
        </thead>
        <tbody>
        <%= f.fields_for :memberministrypositions do |detail| %>
            <tr data-index="<%= countDetail %>">
              <td><%= detail.select :ministry_id, @ministries %></td>
              <td><%= detail.select :position_id, @positions %></td>
              <td>
                <button class="btn btn-danger" onclick="deleteDetail(this); return false;">Eliminar
                  <span class="glyphicon glyphicon-remove-sign"></span></button>
              </td>
              <% countDetail = countDetail + 1 %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= render "layouts/formactions", path_to_list: members_path %>
<% end %>
