<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @member.Id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @member.FirstName %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @member.LastName %>
</p>

<p>
  <strong>Fecha de Nacimiento:</strong>
  <%= @member.BirthDate %>
</p>

<p>
  <strong>Fecha de Conversión:</strong>
  <%= @member.ConvertionDate %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @member.Address %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @member.HomePhone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @member.CellPhone %>
</p>

<p>
  <strong>Fecha de Bautizo:</strong>
  <%= @member.BaptismDate %>
</p>

<p>
  <strong>Activo:</strong>
  <%= check_box_tag "chkActive", nil, @member.Active, disabled: true %>
</p>

<p>
  <strong>Imagen:</strong>
  <img id="imgPhoto" src="<%= @member.PhotoPath %>"/>
</p>

<div id="divMinisters">
  <h1>Ministerios</h1>

  <table id="tblMinistries" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Ministerio</th>
      <th>Cargo</th>
    </tr>
    </thead>
    <tbody>
    <% @member.memberministrypositions.each do |d| %>
        <tr>
          <td><%= d.ministry.Description %></td>
          <td><%= d.position.Description %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


<%= link_to edit_member_path(@member) do %>
    <button class="btn btn-success">Editar <span class="glyphicon glyphicon-pencil"></span></button>
<% end %> |
<%= link_to members_path do %>
    <button class="btn btn-default">Lista <span class="glyphicon glyphicon-list"></span></button>
<% end %>

